.Project {
  box-shadow: 0 1px 20px rgba(14, 36, 49, 0.15);
  width: calc(100vw - 2 * var(--margin-x-skill));
  height: 200px;
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 3fr 5fr;

  position: relative;
}

@media screen and (min-width: 420px) {
  .Project {
    width: calc(400px - 2 * var(--margin-x-skill));
  }
}

.ProjectImage {
  /* border-radius: 5rem; */
  /* overflow: hidden; */
  display: grid;
  place-items: center;
}

.ProjectData {
  display: grid;
  place-items: center;
}

.Title {
  text-align: center;
}
.DescriptList {
  text-align: center;
}

.DescriptionItem {
  padding-left: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1rem;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
}

.Tag {
  font-size: 0.8rem;
  background-color: var(--tag-background-color);
  border: none;
  color: var(--tag-text-color);
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 10px;
}

.Cover {
  position: absolute;
  top: 0;
  background-color: var(--project-cover-bg-color);
  width: inherit;
  height: inherit;
  border-radius: inherit;

  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 800ms;

  display: grid;
  place-items: center;
}

.Project:hover > .Cover {
  transform: scale(1, 1);
}

.CoverTag {
  font-size: 1.5rem;
  background-color: var(--project-cover-tag-bg-color);
  border: none;
  color: var(--project-cover-tag-txt-color);
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 3px;
  cursor: pointer;
}
