/*
 * TODO: 这里还需要再调整，变得Responsive
 * 这个component 一共有三个小块
 * HomeData HomeImage
 */
.Home {
  width: 100%;
  height: 85vh;
  /* grid-column: 2 / 3; */

  display: grid;
  place-items: center;
}

.HomeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HomeData {
  margin: auto;
}

.HomeTitle {
  font-size: var(--home-title-font-size);
}

.HomeTitleColor {
  color: var(--first-color);
}

.HomeImage {
  margin: auto;
  width: var(--home-image-width);
}

.ContactButton {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-3);
}

.HomeSocialIcon {
  margin-left: 2rem;
  width: max-content;
  font-size: 1.5rem;
  color: var(--second-color);
}

.HomeSocialIcon:hover {
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.ContactButton:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
