/*
 * TODO: 这里还需要再调整，变得Responsive
 * 这个component 一共有三个小块
 * HomeData HomeImage
 */
.Home {
  width: 100%;
  grid-column: 2 / 3;
  /* 这里用 flex 来控制HomeData 和 HomeImage */
  display: flex;
  flex-wrap: wrap;
}

.HomeData {
  margin: auto;
}

.HomeTitle {
  font-size: var(--home-title-font-size);
  margin-bottom: var(--mb-3);
}

.HomeTitleColor {
  color: var(--first-color);
}

.HomeImage {
  margin: auto;
  margin-bottom: var(--mb-3);
  width: var(--home-image-width);
}

.HomeData,
.HomeImage {
  margin-top: var(--home-margin-top);
  margin-bottom: var(--home-margin-top);
}

.ContactButton {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-3);
}

.HomeSocialIcon {
  margin-left: 2rem;
  width: max-content;
  font-size: 1.5rem;
  color: var(--second-color);
}

.HomeSocialIcon:hover {
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.ContactButton:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* TODO: 这里还要重新改一改 */
@media screen and (min-width: 1200px) {
}
