.SkillsData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  width: 400px;
  box-shadow: 0 1px 20px rgba(14, 36, 49, 0.15);
  margin-left: 10px;
  margin-right: 10px;
}

.SkillsNames {
  display: flex;
  align-items: center;
}

.SkillsIcon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.SkillsName {
  display: flex;
  align-items: center;
}

.SkillsBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.SkillsHTML {
  width: 85%;
}

/* phone screen */
/* @media screen and (max-width: 420px) {
  .SkillsData {
    width: 100%;
    margin-bottom: var(--mb-2);
    font-size: 0.9rem;
    font-weight: 500;
  }

  .SkillsIcon {
    font-size: 1rem;
  }
} */
