/* :root {
  --primary-color: #f2f2f2;
  --secondary-color: #bfbfbf;
  --third-color: #8c8c8c;
  --forth-color: #595959;
  --fifth-color: #262626;

  --hover-color: #732929;
  --background-color: var(--primary-color);
  --text-color: var(--forth-color);
  --highlight-color: var(--fifth-color);
} */

.NavContainer {
  height: var(--nav-height);
  background-color: var(--nav-background-color);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.NavLogo {
  color: var(--nav-text-color);
  padding: 20px 0;
}

.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--nav-background-color);
  text-align: left;

  display: none;
}

.NavItem {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.NavItem a {
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
}

.NavItem a:hover {
  color: var(--nav-hover-color);
}

.NavToggle {
  display: none;
}

.NavToggle:checked ~ .NavToggleLabel {
  color: var(--highlight-color);
}

.NavToggle:checked ~ .NavItems {
  display: block;
}

.NavToggleLabel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  color: var(--nav-text-color);
}

/* iPad screen and larger */
@media screen and (min-width: 800px) {
  .NavToggleLabel {
    display: none;
  }

  .NavContainer {
    display: grid;
    grid-template-columns: 1fr auto minmax(400px, 3fr) 1fr;
  }

  .NavLogo {
    grid-column: 2 / 3;
  }

  /* 这里有一个小瑕疵，当打开toggle的时候，再缩小，这个display: block 会继承过去 */
  .NavToggle:checked ~ .NavItems {
    display: flex;
  }

  .NavItems {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }

  .NavItem {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .NavItem a {
    position: relative;
  }

  /* animated outline */
  .NavItem a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--nav-hover-color);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
  }

  .NavItem a:hover::before {
    transform: scale(1, 1);
  }

  .NavItem a.Active::before {
    transform: scale(1, 1);
    color: var(--nav-hover-color);
  }
}
