.Skills {
  width: 100%;
  /* grid-column: 2 / 3; */

  /* 原section class */
  padding-top: 5vh;
  min-height: calc(80vh - 3rem);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.SkillsTitle {
  position: relative;
  font-size: var(--skill-title-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.SkillsTitle::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem; /* 改了这里 */
  background-color: var(--first-color);
}

.SkillsSubTitle {
  font-size: var(--skill-subtitle-font-size);
  text-align: center;
  margin-left: var(--mb-3);
  margin-bottom: var(--mb-3);
}

.SkillsContainer {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; */
}

@media screen and (min-width: 900px) {
  .SkillsContainer {
    grid-template-columns: auto auto;
    column-gap: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .SkillsContainer {
    grid-template-columns: auto auto auto;
    column-gap: 60px;
  }
}
