.Skills {
  /* 原section class */
  padding-top: 15vh;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.SkillsTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.SkillsTitle::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem; /* 改了这里 */
  background-color: var(--first-color);
}

.SkillsSubTitle {
  text-align: left;
  margin-left: var(--mb-3);
  margin-bottom: var(--mb-3);
}

.SkillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* phone screen */
@media screen and (max-width: 420px) {
  .Skills {
    /* 原section class */
    padding-top: 20px;
  }

  .SkillsContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
