.Skills {
  /* 原section class */
  padding-top: 3rem;
  padding-bottom: 2rem;
  /* display: flex; */
}

.SkillsTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

/* title的下划线 */
.SkillsTitle::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem; /* 改了这里 */
  background-color: var(--first-color);
}

.SkillsContainer {
}

@media screen and (min-width: 768px) {
  .Skills {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .SkillsTitle {
    margin-bottom: var(--mb-6);
  }

  .SkillsTitle::after {
    width: 80px;
    top: 3rem;
  }
}

/* Single Skill Component */

.SkillsData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.SkillsNames {
  display: flex;
  align-items: center;
}

.SkillsIcon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.SkillsName {
  display: flex;
  align-items: center;
}

.SkillsBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.SkillsHTML {
  width: 85%;
}
